services:
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    container_name: frontend

  backend:
    build:
      context: .
      dockerfile: ./AgenticAI/Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    container_name: backend
    volumes:
      - ./data:/app/data
      - ./artifacts:/app/artifacts
    depends_on:
      - frontend
