services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    command: >
      etcd
      -advertise-client-urls=http://etcd:2379
      -listen-client-urls=http://0.0.0.0:2379
      -data-dir=/etcd
    volumes:
      - ./artifacts/milvus/etcd:/etcd

  minio:
    image: minio/minio:RELEASE.2024-01-13T07-53-03Z
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: minio server /minio_data --console-address ":9001"
    volumes:
      - ./artifacts/milvus/minio:/minio_data
    ports:
      - "9000:9000"
      - "9001:9001"

  milvus:
    image: milvusdb/milvus:v2.6.8
    command: ["milvus", "run", "standalone"]
    environment:
      - ETCD_ENDPOINTS=etcd:2379
      - MINIO_ADDRESS=minio:9000
    volumes:
      - ./artifacts/milvus/milvus:/var/lib/milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      - etcd
      - minio

  attu:
    image: zilliz/attu:v2.3.10
    environment:
      - MILVUS_URL=milvus:19530
    ports:
      - "8001:3000"
    depends_on:
      - milvus

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    container_name: frontend

  backend:
    build:
      context: .
      dockerfile: ./AgenticAI/Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    container_name: backend
    volumes:
      - ./data:/app/data
      - ./artifacts:/app/artifacts
    depends_on:
      - frontend
      - milvus
