networks:
  isolation-network:
    driver: bridge
  database-network:
    driver: bridge

services:
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    container_name: frontend
    networks:
      - isolation-network

  backend:
    build:
      context: ./TestBackend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    container_name: backend
    depends_on:
      db:
        condition: service_healthy
      frontend:
        condition: service_started
    networks:
      - isolation-network
      - database-network

  db:
    image: postgres
    container_name: db
    restart: always
    environment:
      - POSTGRES_PASSWORD=Pass_word
      - POSTGRES_DB=RequirementsDB
    ports:
      - "5432:5432"
    networks:
      - database-network
    volumes:
      - postgres-data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
    driver: local
