pdfplumber
sentence-transformers
numpy
pydantic
faiss-cpu
langchain
langgraph
langchain-google-genai
langchain-openai
ddgs
modelcontextprotocol
python-dotenv
httpx
beautifulsoup4
fpdf2
fastapi
uvicorn
